{% load static %}
<div class="content_bottom">
    <div class="col-lg-8 col-md-8">
        <div class="content_bottom_left">
            <div class="single_category wow fadeInDown">
                <h2> <span class="bold_line"><span></span></span> <span class="solid_line"></span> <a class="title_text" href="#">Gezi - Aktivite</a> </h2>
                <div class="business_category_left wow fadeInDown">
                    <ul class="fashion_catgnav">

                        {% for rs in mainrandomplacesbig  %}

                            <li>
                                <div class="catgimg2_container"> <a href="/place/{{ rs.id }}/{{ rs.slug }}"><img alt="" src="{{ rs.image.url }}"></a> </div>
                                <h2 class="catg_titile"><a href="/place/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h2>
                                <div class="comments_box"> <span class="meta_date">{{rs.create_at}}</span> <span class="meta_comment"><a href="#">No Comments</a></span> <span class="meta_more"><a  href="/place/{{ rs.id }}/{{ rs.slug }}">Read More...</a></span> </div>
                                {#                  <p>{{ rs.description }}</p>#}
                            </li>

                        {% endfor %}
                    </ul>
                </div>
                <div class="business_category_right wow fadeInDown">
                    <ul class="small_catg">

                        {% for rs in mainrandomplacessmall  %}

                            <li>
                                <div class="media wow fadeInDown"> <a class="media-left" href="/place/{{ rs.id }}/{{ rs.slug }}"><img style=" width: 150px" src="{{ rs.image.url }}" alt=""></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="/place/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h4>
                                        <div class="comments_box"> <span class="meta_date">{{rs.create_at}}</span> <span class="meta_comment"><a href="#">No Comments</a></span> </div>
                                    </div>
                                </div>
                            </li>

                        {% endfor %}

                    </ul>
                </div>
            </div>



        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="content_bottom_right">
            <div class="single_bottom_rightbar">
                <h2>Son Gönderiler</h2>
                <ul class="small_catg popular_catg wow fadeInDown">

                    {% for rs in lastplaces  %}

                        <li>
                            <div class="media wow fadeInDown"> <a href="/place/{{ rs.id }}/{{ rs.slug }}" class="media-left"><img style=" width: 180px" alt="" src="{{ rs.image.url }}"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="/place/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h4>
                                    <p>{{ rs.description }}</p>
                                </div>
                            </div>
                        </li>

                    {% endfor %}

                </ul>
            </div>
            <div class="single_bottom_rightbar">
                <ul role="tablist" class="nav nav-tabs custom-tabs">
                    <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="home" href="#mostPopular"><strong>Duyurular</strong></a></li>
                    <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="events" href="#events"><strong>Etkinlikler</strong></a></li>
                    <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="messages" href="#recentComent"><strong>Son Yorumlar</strong></a></li>
                </ul>
                <div class="tab-content">
                    <div id="mostPopular" class="tab-pane fade in active" role="tabpanel">
                        <ul class="small_catg popular_catg wow fadeInDown">
                            {% for rs in announcements %}
                            <li>
                                <div class="media wow fadeInDown"> <a class="media-left" href="/content/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" alt="" ></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="/content/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h4>
                                        <p>{{ rs.description }}<br><strong><small>{{ rs.create_at }}</small></strong></p>
                                        <p></p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                    <div id="events" class="tab-pane fade in active" role="tabpanel">
                        <ul class="small_catg popular_catg wow fadeInDown">
                            {% for rs in events %}
                            <li>
                                <div class="media wow fadeInDown"> <a class="media-left" href="/content/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" alt="" ></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="/content/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h4>
                                        <p>{{ rs.description }}<br><strong><small>{{ rs.create_at }}</small></strong></p>
                                        <p></p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                    <div id="recentComent" class="tab-pane fade" role="tabpanel">
                        <ul class="small_catg popular_catg">
                            {% for rs in comments %}
                            <li>
                                <div class="media wow fadeInDown"> <a class="media-left" href="/place/{{ rs.id }}/{{ rs.place.slug }}"><img src="{{ rs.place.image.url }}" alt=""></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="/place/{{ rs.id }}/{{ rs.place.slug }}">{{ rs.place.title }}</a></h4>
                                        <p><strong>{{ rs.user.first_name }}: </strong>
                                            {{ rs.subject }}<br>
                                            <strong><small> {{ rs.create_at }}</small></strong>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="single_bottom_rightbar">

            </div>

        </div>
    </div>
</div>
</section>
</div>