{% extends "homebase.html" %}

{% block title %} İletisim - {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.descriptions }} {% endblock %}

{% block head %} <link rel="shortcut icon" type="image/x-con" href="{{ setting.icon.url }}"/> {% endblock %}

{% block navbar %} {% include 'navbar.html' %}{% endblock %}
{% block content %}

    <section id="ContactContent">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5">
          <div class="contact_area">
            <div class="contact_bottom">
              <div class="contact_us wow fadeInRightBig">
                <h2>ILETISIM FORMU</h2>

                  {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                  {% endif %}

                  <form action="" method="POST">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <input type="submit" value="Gönder" >
                  </form>

              </div>
            </div>
          </div>
        </div>
          <div class="col-lg-7 col-md-7 col-sm-7">
              {{ setting.contact|safe }}
          </div>
      </div>
    </section>

{% endblock %}
