<div id="navarea">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav custom_nav">


                    <li class=""><a href="/">Anasayfa</a></li>

{#                    <li class="dropdown"> <a href="#" class="" data-toggle="dropdown" role="button" aria-expanded="false">Kategoriler</a>#}
{#                        <ul class="dropdown-menu" role="menu">#}
{#                            <li><a href="">Kategori</a></li>#}
{#                            <li><a href="">Kategori 1</a></li>#}
{#                            <li><a href="">Kategori 2</a></li>#}
{#                            <li><a href="">Kategori 3</a></li>#}
{#                        </ul>#}
{#                    </li>#}

                    {% load mptt_tags %}
                    {% recursetree category %}
                        <li {% if not node.is_leaf_node %} class="dropdown" {% endif %}>
                            <a href="/category/{{ node.id }}/{{ node.slug }}" class="" {% if not node.is_leaf_node %} data-toggle="dropdown" {% endif %} role="button" aria-expanded="false">{{ node.title }}</a>

                            {% if not node.is_leaf_node %}
                                <ul class="dropdown-menu" role="menu" class="children">
                                    <li>{{ children }}</li>
                                </ul>
                            {% endif %}
                        </li>
                    {% endrecursetree %}

                    <li><a href="/hakkimizda">Hakkımızda</a></li>
                    <li><a href="/iletisim">ILETISIM</a></li>
                    <li><a href="">Single page</a></li>
                    <li><a href="">404 page</a></li>
                </ul>
            </div>

        </div>
    </nav>
</div>