{% extends "homebase.html" %}

{% block title %} {{ categorydata.title }} {% endblock %}
{% block keywords %} {{ categorydata.keywords }} {% endblock %}
{% block description %} {{ categorydata.descriptions }} {% endblock %}

{% block head %} <link rel="shortcut icon" type="image/x-con" href="{{ setting.icon.url }}"/> {% endblock %}

{% block navbar %} {% include 'navbar.html' %}{% endblock %}
{% block content %}

    <section id="ContactContent">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="contact_area">

                    <div class="content_bottom">
                        <br>
                        <div class="col-lg-8 col-md-8">
                            <div class="content_bottom_left">
                                <div class="single_category wow fadeInDown">
                                    <h2> <span class="bold_line"><span></span></span> <span class="solid_line"></span> <a class="title_text" >{{ categorydata.title }}</a> </h2>

                                    {% for rs in places %}

                                        {#                                    <h2> <span class="bold_line"><span></span></span> <span class="solid_line"></span> <a class="title_text" href="#">{{rs.category_id}}</a> </h2>#}
                                        <div class="business_category_left wow fadeInDown">
                                            <ul class="fashion_catgnav">
                                                <li>
                                                    <div class="catgimg2_container"> <a href="/place/{{ rs.id }}/{{ rs.slug }}"><img alt="" style=" width: 335px" src="{{ rs.image.url }}"></a> </div>
                                                    <h2 class="catg_titile"><a href="/place/{{ rs.id }}/{{ rs.slug }}">{{rs.title}}</a></h2>
                                                    <div class="comments_box"> <span class="meta_date">{{rs.create_at}}</span> <span class="meta_comment"><a href="#">No Comments</a></span> <span class="meta_more"><a  href="/place/{{ rs.id }}/{{ rs.slug }}">Read More...</a></span> </div>
                                                    <p> {{rs.description}} </p>

                                                </li>
                                            </ul>
                                        </div>

                                    {% endfor %}


                                </div>


                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="content_bottom_right">
                                <div class="single_bottom_rightbar">
                                    <h2>Recent Post</h2>
                                    <ul class="small_catg popular_catg wow fadeInDown">
                                        <li>
                                            <div class="media wow fadeInDown"> <a href="#" class="media-left"><img alt="" src="images/112x112.jpg"> </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4>
                                                    <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media wow fadeInDown"> <a href="#" class="media-left"><img alt="" src="images/112x112.jpg"> </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4>
                                                    <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media wow fadeInDown"> <a href="#" class="media-left"><img alt="" src="images/112x112.jpg"> </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4>
                                                    <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>
    </section>


    </div>
    </div>
    </div>
    </section>

{% endblock %}
