{% extends "homebase.html" %}

{% block title %} Kayıt | {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.descriptions }} {% endblock %}

{% block head %} <link rel="shortcut icon" type="image/x-con" href="{{ setting.icon.url }}"/> {% endblock %}

{% block navbar %} {% include 'navbar.html' %}{% endblock %}
{% block content %}

    <section id="ContactContent">
      <div class="row">
        <div class="col-md-12">
          <div class="contact_area">
            <div class="contact_bottom">
              <div class="contact_us wow fadeInRightBig">
                <h2>Kayıt Formu</h2>

                  {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                  {% endif %}

                  <form method="POST">
                      {% csrf_token %}
                      {% for field in form %}
                          <p>
                          {{ field.label_tag }}<br>{{ field }}<br>
                          {% if field.help_text %}
                            <small style="color: grey"> {{ field.help_text }} </small>
                          {% endif %}
                          {% for error in field.errors %}
                              <p style="color: red"> {{ error }} </p>
                          {% endfor %}
                          </p>
                      {% endfor %}
                      <input type="submit" value="Kaydol" >
                  </form>



              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}