  <section id="mainContent">
    <div class="content_top">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm6">
          <div class="latest_slider">
            <div class="slick_slider">
                {% load static %}
              <div class="single_iteam"><img src="{% static 'images/550x330x1.jpg' %}" alt="">
                <h2><a class="slider_tittle" href="{% static 'pages/single.html' %}">Fusce eu nulla semper porttitor felis sit amet</a></h2>
              </div>
              <div class="single_iteam"><img src="{% static 'images/550x330x2.jpg' %}" alt="">
                <h2><a class="slider_tittle" href="{% static 'pages/single.html' %}">Fusce eu nulla semper porttitor felis sit amet</a></h2>
              </div>
              <div class="single_iteam"><img src="{% static 'images/550x330x3.jpg' %}" alt="">
                <h2><a class="slider_tittle" href="{% static 'pages/single.html' %}">Fusce eu nulla semper porttitor felis sit amet</a></h2>
              </div>
              <div class="single_iteam"><img src="{% static 'images/550x330x4.jpg' %}" alt="">
                <h2><a class="slider_tittle" href="{% static 'pages/single.html' %}">Fusce eu nulla semper porttitor felis sit amet</a></h2>
              </div>
            </div>
          </div>
        </div>