<div class="single_bottom_rightbar wow fadeInDown">
            <h2>{{ profile.user.first_name }} {{ profile.user.last_name }} Profil</h2>
            <ul class="top_nav">
              <li><i class="fa fa-location-arrow"><a href="/"> Ekledigim Yerler </a></i></li><br>
              <li><i class="fa fa-comments"><a href="/"> Yorumlarım </a></i></li><br>
{#              <li><a href="#">Error Page</a></li>#}
{#              <li><a href="#">Social link</a></li>#}
              <li><i class="fa fa-sign-out"><a href="/logout"> CIKIS </a></i></li>
            </ul>
</div>